@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.changeWord::after {
  content: var(--word-content, 'Web developer');
  animation: wordChange 5s linear infinite alternate;
}

@keyframes wordChange {
  0% {
    --word-content: 'Full Stack Web developer';
  }
  25% {
    --word-content: 'Learner';
  }
  50% {
    --word-content: 'Problem Solver';
  }
  75% {
    --word-content: 'Curious';
  }
  100% {
    --word-content: 'Dreamer';
  }
}
